img {
  max-width: 80%;
}

@media (min-width: 600px) {
  .middle {
    display: flex;
    flex-direction: row;
    width: 100%
  }

.main {
width: 70%;
}
.related {
  width: 30%;
}
  .item-3 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}

@media (min-width:900px) {
.item-3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
  img {
    max-width: 40%;
    padding-left: 3%;
  }

  
}
